<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link href="/rss" rel="alternate" title="{{site-title}}" type="application/rss+xml">
      {% style "/css/site.min.css" %}
  </head>

  <body>
      {% if configured %}
          <div id="app">
          </div>

          {% script "/vendor/js/marked.min.js" %}
          {% script "/vendor/js/highlight.pack.js" %}
          <script type="text/javascript">
              var admin = {{admin}};
              var context = "{{servlet-context}}";
              var siteTitle = "{{site-title}}";
          </script>

          {% if dev %}
          <!--
             <script src="//fb.me/react-0.11.0.js"></script>
          -->
             {% script "/vendor/js/react-0.11.0.js" %}
             {% script "/js/goog/base.js" %}
             {% script "/js/app.js" %}
             <script type="text/javascript">goog.require("yuggoth.core");</script>
          {% else %}
             <script src="//fb.me/react-0.11.0.min.js"></script>
             {% script "/js/app.js" %}
          {% endif %}
      {% else %}
          {% include "templates/setup.html" %}
      {% endif %}

  </body>
</html>
