<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="/rss" rel="alternate" title="{{site-title}}" type="application/rss+xml">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
      <link rel="shortcut icon" href="{{servlet-context}}/img/favicon.ico" type="image/x-icon">
	  <link rel="icon" href="{{servlet-context}}/img/favicon.ico" type="image/x-icon">
      {% style "/css/site.min.css" %}
  </head>

  <body>
      {% if configured %}
          <div id="app">
          </div>

          <!--[if IE]> -->
          {% script "/vendor/js/es5-shim.min.js" %}
          {% script "/vendor/js/es5-sham.min.js" %}
          <!-- <![endif]-->
          <!--[if lt IE 9]>
          {% script "/vendor/js/html5shiv.min.js" %}
          <![endif]-->
          {% script "/vendor/js/marked.min.js" %}
          <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
          <script type="text/javascript">
              var admin = {{admin}};
              var context = "{{servlet-context}}";
              var siteTitle = "{{site-title}}";
          </script>

          {% if dev %}
             {% script "/vendor/js/react-0.11.0.js" %}
             {% script "/js/goog/base.js" %}
             {% script "/js/app.js" %}
             <script type="text/javascript">goog.require("yuggoth.core");</script>
          {% else %}
             <script src="//fb.me/react-0.11.0.min.js"></script>
             {% script "/js/app.js" %}
          {% endif %}
      {% else %}
          {% include "templates/setup.html" %}
      {% endif %}
  </body>
</html>
