body {
    background-color: #EEEEEE;
    color: #555;    
    font-family:"PT Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: center;
    background-origin: padding-box;
    background-size: auto;
    display: block;    
}

.container {
    height: auto;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 1020px;
}

.header {
    background: #474747 url(../img/header.png);
    width: 100%;
    height: 66px;
    float: left;
    color: #333;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;    
    text-rendering: optimizeLegibility; 
    margin-bottom: -1px;          
}

.header h1 {
	margin-top: 2px;	
	font-size: 45px;
	text-align: center;	
	color: #89a8af; text-shadow: 0px 3px 8px #2a2a2a; 	
}

.menu {
	color: #eee;
	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d);
	clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);
	padding-top: 11px;
	padding-bottom: 10px;
	
	background-color: #f9f9f9;

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.menu img {		       
    height: 11px;
    width: 11px;
    padding-right: 0px;  
    padding-top: 2px;
    padding-left: 2px;         
    float: left;    
}

#rss div {
    float: left;	
}

.menu a {
    color: #eee;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.menu a:hover {
    color: white;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}
.menu li {
    float: right;
    position: relative;
}

.menu ul li > a {
	color: #bababa;
	text-shadow: 0px 2px 3px #171717; 
}

.menu ul li:hover > ul {
    display: block;
}
.menu ul li.selected > a {
	padding-left: 5px;
	padding-right: 5px;
	color: #eaeaea;
    background-color: #343434;
    -webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.menu ul:after {
    clear: both;
    content: ' ';
    display: block;
}

.menu-items {
    width: 990px;
}

.contents {    
    height: auto;    
    padding-bottom: 10px;    
    min-width: 1000px;    
}

.sidebar {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;    
    float: left;
    margin-left: 15px;            
    text-transform: uppercase;        
    line-height: 10px;
    text-align: left;    
    max-width: 260px;
}

.sidebar-preview {
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 12px;
    float: left;
    margin-left: 20px;                
    line-height: 10px;
    text-align: left;    
    max-width: 250px;
}

.sidebar a {	
    text-decoration: none;
    font-weight:bold;    
    font: 13px Helvetica, Arial, Sans-Serif;
    color: #555; 	
}


.sidebar .date {
    text-transform: none;    
    color: #555;        
    margin-top: 5px;  
    margin-bottom: 20px; 
}


.entry-content pre {
	font-family: "Courier New", Courier, monospace, sans-serif;
	font-size: 13px;
	text-align: left;	
	width: 600px;          
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap !important;
	word-wrap: break-word;	
	background-color: #FFF;	
	padding: 5px;	
	
	border:1px solid;
	border-color:#eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow:    inset 0 0 10px #fff;
  	-webkit-box-shadow: inset 0 0 10px #fff;
  	box-shadow:         inset 0 0 10px #fff;
	border-radius: 10px;
}

span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow:    inset 0 0 5px #fff;
  	-webkit-box-shadow: inset 0 0 5px #fff;
  	box-shadow:         inset 0 0 5px #fff;
	border-radius: 5px;
}

.post {
    float: left;
    width: 650px;
    padding-bottom: 10px;
    text-align:left;
    
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 4px;

	padding: 20px;
}


.entry-title {
    color: #555;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;    
    line-height: 10px;    
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.entry-title div {
	float: right;
	margin-top: -5px;
}
.entry-title span {
	color: #555;	
	cursor:pointer; 
	margin-top: 5px;
	margin-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

.entry-public {
	float: left;
	margin-top: 1px;	
}
input[name=public] {
	width: 10px;
}

.entry-submit {
	float:right;
	background-color:#ddd;	
}

p#post-time {
  margin-top: -15px;   
  font-size: 10px;
}

.entry-content {
    text-align:left;
    height: auto;
    clear: both;
    font-size: 16px;
    float: left;                    
}

.comments h2 {
font-size: 12px;
}

.comment h4 {
	font-size: 12px;
}

tr.padded td {
	padding-bottom: 10px;
}

.padded-table td {
	padding-right: 10px;
}

textarea#comment {
	background-color: #EEEEEE; 
	width: 600px;
	height: 100px;
	margin-bottom: 15px;
	border:1px solid;
	border-color:#ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#comment-content h1 {
font-size: 15px;
}

#comment-content h2 {
font-size: 14px;
}

#comment-content h3 {
font-size: 13px;
}

#comment-content h4 {
font-size: 12px;
}

div#comment-content {
	min-width: 500px;
		
	color: #555;
	font-size: 12px;		
	font-family: Tahoma, sans-serif;	
}

#captcha-image {	
	margin: 15px;
	
	background-color: #fff;
	border:1px solid;
	border-color:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#preview {
    display:none;
}

.render-preview {
    cursor:pointer;
}

.entry-content p {
    line-height: 135%;
}

.entry-content h1 {
    font-size: 25px;
}

.entry-content h2 {
    font-size: 22px;
}

.entry-content h3 {
    font-size: 19px;
}

.entry-content h4 {
    font-size: 15px;
}

.entry-content a img {
    border: 10px solid #ddd;    
}
.entry-content a:hover img {
    border: 10px solid #000;
}


form input {
	border: 1px solid #AAA;
}

form span {
	border: 1px solid #AAA;
	padding: 1px;
	cursor:pointer;	
}

input#title {
	width: 520px;
	min-height: 30px;
	color: #555;
	font-size: 25px;
	border: none;
	margin-bottom: 25px;
}

textarea#content {
	width: 620px;
	height: 800px;
	color: #555;
	font-size: 16px;
	border: 2px solid #cccccc;	
	font-family: Tahoma, sans-serif;		
}

.submit {
	margin-left: 10px;
	cursor:pointer;
	border: none;
}

.delete {
	cursor:pointer;
	border: none;
}

.file {
	float: right;
}

.file-link {
	margin-bottom: 15px;
}

input {	
	width: 100px;
	min-height: 20px;
	color: #555;
	font-size: 15px;
	border: none;
	margin-left: 10px;
	margin-bottom: 10px;
}

blockquote {    
    border-left: 3px solid #ddd;
    color: #333;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 5px;
    text-align: justify;
}
a {
    color: #555;
    text-decoration: underline;
}
a:hover {
    color: #36bcab;
}

b, strong {
    color: #000;
}

.leftmost {
	float: left;
}

.rightmost {
	float: right;
}

.entry-content tr th {
    color: #888;
    font-weight: normal;
    line-height: 20px;
    padding: 9px 24px;
}

.entry-content tr.alternate td {
    background: #f5f5f5;
}

.archive {
	margin-bottom: 10px;
	text-decoration: none;
}

ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}

.entry-content p:first-child {
    margin-top: 0;
}

.format-link .entry-title:after {
    content: "\2192";
    font-size: 26px;
    padding-left: 10px;
    text-decoration: none;
}

.format-quote blockquote {
    font-size: 16px;
}
.format-quote blockquote p:last-child {
    margin-bottom: 0;
}

a img {
    border: none;
}
p img {
    margin-bottom: 0.5em;
}

img {
    max-width: 615px;
    padding: 10px; 
    height: auto; 
}

.footer {    
    clear: both;
    font-size: 11px;
    font-weight: bold;
    height: auto;    
    text-align: center;
    min-width: 1000px;
    
    color: #eee;
	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d);
	clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

input {
	background-color: #eee;
	border:1px solid;
	border-color:#ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.footer a {
    color: #36bcab;
    text-decoration: none;
}

.footer span {
	border:none;
	box-shadow: none;
}

.tags {
	
	width: 445px;
}

.tagon {
	background-color: #999;
	padding: 3px;
	margin-right: 2px;
	color: #fff;
	cursor:pointer;
	
	border:1px solid;
	border-color:#eee;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow:    inset 0 0 4px #999;
  	-webkit-box-shadow: inset 0 0 4px #999;
  	box-shadow:         inset 0 0 4px #999;
	border-radius: 4px;
}
.tagoff {
	background-color: #eee;
	padding: 3px;
	margin-right: 2px;
	color: #aaa;
	cursor:pointer;
}

.taglist {
	margin-left: 20px;
	max-width: inherit;	
}
.tag {	
	float: left;
	padding: 2px;
	font-size:90%;
	
	margin-bottom: 6px;	
	color: #fff;
	cursor:pointer;	
}
.mdhelp {
	display: none;
}

table.mdhelp td {
	border: 1px solid #ccc;
	padding:5px;
}

.help, .render-comment-preview, .submit-comment {
	margin-left: 10px;	
	background-color: #ddd;	
	padding: 5px;
}
.render-comment-preview {	
	padding-left: 21px;
	padding-right: 21px;
}
.comment-preview {
    padding-top: 10px;
}
.toolbar {
    display: none;
}

b {
    color: #555;
}

hr {
  height: 3px;
  border: 0;
  background-color: #c3c3c3;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f7f6f4), to(#f7f6f4), color-stop(50%, #fff));
  background-image: -webkit-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
  background-image: -moz-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
  background-image: -ms-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
  background-image: -o-linear-gradient(left, #f7f6f4, #fff, #f7f6f4);
}
hr::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #f7f6f4;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f7f6f4), to(#f7f6f4), color-stop(50%, #c3c3c3));
  background-image: -webkit-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
  background-image: -moz-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
  background-image: -ms-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
  background-image: -o-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4);
}
