body {
    background-color: #fff;
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: center;
}
.container {
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 1020px;
}
.header {
    min-height: 50px;    
    width: 800px;
    color: #555;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;    
    text-rendering: optimizeLegibility;
}

.menu {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    min-width: 1000px;
}
.menu img {		       
    height: 11px;
    width: 11px;
    padding-right: 0px;  
    padding-top: 2px;
    padding-left: 2px;         
    float: left;        
}

#rss div {
	float: left;	
}

.menu a {
    color: #666;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.menu a:hover {
    color: #000;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu li {
    float: right;
    position: relative;
}

.menu ul li:hover > ul {
    display: block;
}
.menu ul li.selected > a {
    color: #111;
}
.menu ul:after {
    clear: both;
    content: ' ';
    display: block;
}

.menu-items {
	width: 990px;
}

.contents {    
    height: auto;    
    padding-bottom: 10px;    
    min-width: 1000px;    
}

.sidebar {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;    
    float: left;
    margin-left: 20px;            
	text-transform: uppercase;        
    line-height: 10px;
    text-align: left;    
    max-width: 250px;
}

.sidebar-preview {
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 12px;
    float: left;
    margin-left: 20px;                
    line-height: 10px;
    text-align: left;    
    max-width: 250px;
}

.sidebar a {	
    text-decoration: none;
    font-size: 12px;
}

.sidebar .date {
	text-transform: none;    
    color: #555;        
    margin-top: 5px;  
    margin-bottom: 20px; 
}

.post {
	float: left;
    border-right: 1px solid #ccc;
    width: 720px;
    margin-bottom: 10px;
}

.entry-title {
    color: #555;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;    
    line-height: 10px;
    margin-left:70px;    
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.entry-title div {
	float: right;
	margin-top: -5px;
}
.entry-title span {
	color: #555;	
	cursor:pointer; 
	margin-top: 5px;
	margin-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

.entry-public {
	float: left;
	margin-top: 1px;	
}
.entry-public-check {
	float: left;
}
.entry-submit {
	float:right;
}
p#post-time {
  margin-top: -15px;   
  font-size: 8px;
}

.entry-content {
    height: auto;
    clear: both;
    margin: 5px 0px 15px 70px;    
    text-align: left;    
    font-size: 16px;
    float: left;     
    max-width: 600px;           
}

.comments h2 {
font-size: 12px;
}

.comment h4 {
	font-size: 12px;
}

tr.padded td {
	padding-bottom: 10px;
}

#comment-content h1 {
font-size: 15px;
}

#comment-content h2 {
font-size: 14px;
}

#comment-content h3 {
font-size: 13px;
}

#comment-content h4 {
font-size: 12px;
}

div#comment-content {
	min-width: 500px;
		
	color: #555;
	font-size: 12px;		
	font-family: Tahoma, sans-serif;	
}

#captcha-image {	
	margin-left: 15px;
}


#preview {
	display:none;
}

.render-preview {
	cursor:pointer;
}

.entry-content p {
 	line-height: 135%;
}

.entry-content pre {
	font-family: "Courier New", Courier, monospace, sans-serif;
	font-size: 13px;
	text-align: left;	
	width: 550px;          
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap !important;
	word-wrap: break-word;	
}

.entry-content h1 {
font-size: 25px;
}

.entry-content h2 {
font-size: 22px;
}

.entry-content h3 {
font-size: 19px;
}

.entry-content h4 {
font-size: 15px;
}

.entry-content a img {
    border: 10px solid #ddd;    
}
.entry-content a:hover img {
    border: 10px solid #000;
}


form input {
	border: 1px solid #AAA;
}

form span {
	border: 1px solid #AAA;
	padding: 1px;
	cursor:pointer;	
}

input#title {
	width: 620px;
	min-height: 30px;
	color: #555;
	font-size: 25px;
	border: none;
	margin-bottom: 25px;
}

textarea#content {
	width: 620px;
	height: 800px;
	color: #555;
	font-size: 16px;
	border: 2px solid #cccccc;	
	font-family: Tahoma, sans-serif;		
}

.submit {
	margin-left: 10px;
	cursor:pointer;
	border: none;
}

.delete {
	cursor:pointer;
	border: none;
}

.file {
	float: right;
}

.file-link {
	margin-bottom: 15px;
}

input {	
	width: 100px;
	min-height: 20px;
	color: #555;
	font-size: 15px;
	border: none;
	margin-left: 10px;
	margin-bottom: 10px;
}

blockquote {
    background: #eee;
    border-left: 10px solid #36bcab;
    color: #000;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: justify;
}
a {
    color: #555;
    text-decoration: underline;
}
a:hover {
    color: #36bcab;
}

b, strong {
    color: #000;
}

.leftmost {
	float: left;
}

.rightmost {
	float: right;
}

.entry-content tr th {
    color: #888;
    font-weight: normal;
    line-height: 20px;
    padding: 9px 24px;
}

.entry-content tr.alternate td {
    background: #f5f5f5;
}

.archive {
	margin-bottom: 10px;
	text-decoration: none;
}

ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}

.entry-content p:first-child {
    margin-top: 0;
}

.format-link .entry-title:after {
    content: "\2192";
    font-size: 26px;
    padding-left: 10px;
    text-decoration: none;
}

.format-quote blockquote {
    font-size: 16px;
}
.format-quote blockquote p:last-child {
    margin-bottom: 0;
}

a img {
    border: none;
}
p img {
    margin-bottom: 0.5em;
}

img {
    max-width: 615px;
    padding: 10px; 
    height: auto; 
}

.footer {    
    clear: both;
    color: #555;
    font-size: 11px;
    font-weight: bold;
    height: auto;    
    margin-top: 25px;
    border-top: 1px solid #ddd;
    text-align: center;
    min-width: 1000px;
}
.footer p {
	width: 800px;
}
.footer a {
    color: #36bcab;
    text-decoration: none;
}
