{% extends "yuggoth/views/templates/base.html" %}

{% block content %}
<div class="span9">
	<div class="Blog settings">
		<h3>Blog settings</h3>
	</div>
	<div class="error"></div>
	<form action="{{servlet-context}}/create-admin" method="POST" _lpchecked="1">
		<table>
			<tbody>
				<tr>
					<td><label for="title">{% clabel blog-title %}</label></td>
					<td><input id="title" name="title" tabindex="1" type="text"></td>
				</tr>
				<tr>
					<td><label for="handle">{% clabel admin-user-name %}</label></td>
					<td><input id="handle" name="handle" tabindex="2" type="text"></td>
				</tr>
				<tr>
					<td><label for="pass">{% clabel password %}</label></td>
					<td><input id="pass" name="pass" tabindex="3" type="password"></td>
				</tr>
				<tr>
					<td><label for="pass1">{% clabel confirm-password %}</label></td>
					<td><input id="pass1" name="pass1" tabindex="4" type="password"></td>
				</tr>
				<tr>
					<td><label for="email">{% clabel email %}</label></td>
					<td><input id="email" name="email" tabindex="5" type="text"></td>
				</tr>
			</tbody>
		</table>
		<input class="btn" type="submit" value="Create">
	</form>
</div>
{% endblock %}