<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="author" content="">
    	<link rel="shortcut icon" href="favicon.ico">
		<link href="{{servlet-context}}/rss" rel="alternate" type="application/rss+xml">
		<title>{{title}}</title>

		{% style "/css/bootstrap.min.css" %}
		{% style "/css/bootstrap-theme.min.css" %}
		{% style "/css/jquery.alerts.css" %}
		{% style "/css/shCoreYuggoth.css" %}
		{% style "/css/screen.css" %}

		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
		{% script "/js/shCore.js" %}
		{% script "/js/jquery.alerts.js" %}
		{% script "/js/bootstrap.min.js" %}
		{% script "/js/markdown.js" %}
		{% script "/js/site.js" %}
	</head>
	<body>
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
	</body>
</html>