{% extends "yuggoth/views/templates/base.html" %}
{% block content %}

<div class="navbar navbar-default">
		<div class="site-title">{{site-title}}</div>
         <div class="nav navbar-nav">
         	 <ul class="nav navbar-nav">
         	 	<li class="{{home-selected}}">
         	 		<a href="{{servlet-context}}/">{% label home-title %}</a>
         	 	</li>
         	 	<li class="{{archives-selected}}">
         	 		<a href="{{servlet-context}}/archives">{% label archives-title %}</a>
         	 	</li>
         	 	<li class="{{about-selected}}">
         	 		<a href="{{servlet-context}}/about">{% label about-title %}</a>
         	 	</li>
         	 	<li class="{{rss-selected}}">
         	 		<a href="{{servlet-context}}/rss">{% label rss %}</a>
         	 	</li>
         	 </ul>
         	 {% if admin %}
         	 <ul class="nav navbar-nav navbar-right">
         	 	<li class="{{rss-selected}}">
         	 		<a href="{{servlet-context}}/make-post">{% label new-post %}</a>
         	 	</li>
         	 	<li class="{{rss-selected}}">
         	 		<a href="{{servlet-context}}/latest-comments">{% label latest-comments-title %}</a>
         	 	</li>
         	 	<li class="{{upload-selected}}">
         	 		<a href="{{servlet-context}}/upload">{% label upload %}</a>
         	 	</li>
         	 	<li class="{{profile-selected}}">
         	 		<a href="{{servlet-context}}/profile">{% label profile %}</a>
         	 	</li>
				<li class="{{logout-selected}}">
					<a href="{{servlet-context}}/logout">{% label logout %}</a>
				</li>
			</ul>
			{% endif %}
         </div>
</div>
<div class="contents">
	<div class="row">
		<div class="span10">
		{% block main-content %}
		{% endblock %}
		</div>
		<div class="sidebar span2">
		{% block sidebar-content %}
		{% endblock %}
		</div>
	</div>
</div>
<div class="footer">
	<p>
		{{footer}}
		{% if not admin %}
		<span> (<a href="{{servlet-context}}/login">{% label login %}</a>)</span>
		{% endif %}
		{% label powered-by %} <a href="http://github.com/yogthos/yuggoth">Yuggoth</a>
	</p>
</div>
{% endblock %}
