{% extends "yuggoth/views/templates/base.html" %}
{% block content %}
<div id="wrap">
	<div class="container">
		
		<div class="entry-content">
		<h2>{% label config-title %}</h2>
		{% if error %}
		<h2 class="error">{{error}}</h2>
		{% endif %}
		<form action="/setup-blog" method="POST">
			<table class="padded-table">
				<tr>
					<td><label for="host">{% label host %}</label></td>
					<td><input id="host" name="host" tabindex="1" type="text" value="{{host}}"/></td>
				</tr>
				<tr>
					<td><label for="port">{% label port %}</label></td>
					<td><input id="port" name="port" tabindex="2" type="text" value="{{port}}" /></td>
				</tr>
				<tr>
					<td><label for="schema">{% label schema %}</label></td>
					<td><input id="schema" name="schema" tabindex="3" type="text" value="{{schema}}" /></td>
				</tr>
				<tr>
					<td><label for="user">{% label user %}</label></td>
					<td><input id="user" name="user" tabindex="4" type="text" /></td>
				</tr>
				<tr>
					<td><label for="pass">{% label password %}</label></td>
					<td><input id="pass" name="pass" tabindex="5" type="password" /></td>
				</tr>
				<tr>
					<td><label for="ssl-port">{% label ssl-port %}</label></td>
					<td><input id="ssl-port" name="ssl-port" tabindex="6" type="text" value="{{ssl-port}}" /></td>
				</tr>
				<tr>
					<td><label for="ssl">{% label ssl? %}</label></td>
					<td><input id="ssl" name="ssl" tabindex="7" type="checkbox" value="false" /></td>
				</tr>
			</table>
			locale <select id="locale" tabindex="8" name="locale"><option selected="selected">en</option>
				<option>es</option></select><br />
				<div>
			</div>
				<br />
			<input type="submit" tabindex="9" value="{% label initialize %}" />
		</form>
		</div>
	</div>
</div>
{% endblock %}
