<form action="{{servlet-context}}/comment" method="POST">
	<input id="blog-id" name="blog-id" type="hidden" value="49">
	<div>
		{% clabel commenting-as %}
		{% if admin %}
			{{admin.handle|capitalize}}
		{% else %}
			<div>
				<input id="author" name="author" type="text" value="{{label anonymous}}" tabindex="2"/>
				<br/>
				<div id="captcha-image">
					<img id="captcha-link" src="{{servlet-context}}/captcha"/>
				</div>
				<div id="captcha-text">
					<input id="captcha" name="captcha" placeholder="{% label captcha %}" tabindex="3" type="text">
				</div>
			</div>
		{% endif %}
	</div>
	<br>
	<p>
		<span class="help">{% label help %}</span>
	</p>
	<div class="mdhelp">
	{% include "yuggoth/views/templates/md-help.html" %}
	</div>
	<textarea id="comment" name="content" placeholder="comment"
		tabindex="4"></textarea>
	<br>
	<span class="render-comment-preview">{% label preview %}</span><br>
	<div class="comment-preview">
		<p id="post-preview"></p>
	</div>
	<span class="submit-comment" tabindex="5">{% label submit %}</span>
</form>