{% extends "yuggoth/views/templates/base-blog.html" %}
{% block page-content %}
<div class="container offset1 span12" id="content">
	{% if error %}<div class="error">{{error}}</div>{% endif %}
	<row>
	<legend>
	{% ifequal "new" post.id %}
		{% label new-post %}
	{% else %}
		{% label edit-post %}
	{% endifequal %}
	</legend>
	</row>
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span8">
					<form action="{{servlet-context}}/admin/post/save" class="form-horizontal" method="POST">
						<div class="control-group">
							<label class="control-label" for="title">{% label title %}</label>
							<div class="controls">
								<input class="input-xxlarge" id="title" name="title" tabindex="1" type="text" value="{{post.title}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="tease">{% label tease %}</label>
							<div class="controls">
								<textarea class="input-xxlarge" id="tease" name="tease" rows="5" tabindex="2">{{post.tease}}</textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="content">{% label content %}</label>
							<div class="controls">
								<textarea class="input-xxlarge" id="content" name="content" rows="10" tabindex="3">{{post.content}}</textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="public">{% label public-header %}</label>
							<div class="controls">
								<input id="public" name="public" type="checkbox" {% if post.public %}checked="checked"{% endif %}/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="time">{% label publish-date %}</label>
							<div class="controls">
								<input class="input-large" id="pubtime" name="pubtime" placeholder="yyyy/mm/dd" tabindex="5" type="text"
								value="{{post.time|date:"dd MMM, yyyy"}}"/>
								
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="tags">{% label tags %}</label>
							<div class="controls"></div>
						</div>
						<div class="control-group" style="clear: both">
							<div class="controls">
								{% for tag in post-tags %}
								<label class="checkbox">
									<input type="checkbox" name="tag-{{tag.id}}" id="tag-{{tag.id}}" value="{{tag.id}}" checked="true"/>
									<input type="checkbox" name="tag-{{tag.id}}" id="tag-{{tag.id}}" value="{{tag.id}}" checked="false"/>
								</label> 
								{% endfor %}
								<input class="btn" type="submit" value="Submit"/>
							</div>
						</div>
						<input id="postid" name="postid" type="hidden" value="{{post.id}}"/>
						<input id="page" name="page" type="hidden" value="false"/>
						<input id="public" name="public" type="hidden" value="{{post.public}}"/>
					</form>
				</div>
				<div align="center" class="span4">
					<h5>{% label markdown-help %}</h5>
					<hr>
					{% include "yuggoth/views/templates/md-help.html" %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
