{% extends "yuggoth/views/templates/base.html" %}
{% block content %}
<div id="wrap">
	<div class="container">		
		<div class="entry-content">
		<h2>{% label config-title %}</h2>
		{% if error %}
		<h2 class="error">{{error}}</h2>
		{% endif %}
		<form action="/create-admin" method="POST">
			<table class="padded-table">
				<tr>
					<td><label for="title">{% clabel blog-title %}</label></td>
					<td><input id="title" name="title" tabindex="1" type="text" value="{{title}}"/></td>
				</tr>
				<tr>
					<td><label for="handle">{% clabel admin-user-name %}</label></td>
					<td><input id="handle" name="handle" tabindex="2" type="text" value="{{handle}}" /></td>
				</tr>
				<tr>
					<td><label for="pass">{% clabel password %}</label></td>
					<td><input id="pass" name="pass" tabindex="3" type="password" /></td>
				</tr>
				<tr>
					<td><label for="pass1">{% clabel confirm-password %}</label></td>
					<td><input id="pass1" name="pass1" tabindex="4" type="password" /></td>
				</tr>
				<tr>
					<td><label for="email">{% clabel email %}</label></td>
					<td><input id="email" name="email" tabindex="5" type="text" value="{{email}}" /></td>
				</tr>
			</table>
			<input type="submit" class="btn" tabindex="6" value="{% label create %}" />
		</form>
		</div>
	</div>
</div>
{% endblock %}
