{% extends "yuggoth/views/templates/base.html" %}
{% block content %}
<div id="wrap">
	<div class="container">		
		<div class="entry-content">
		<h2>{% label login-title %}</h2>
		{% if error %}
		<h2 class="error">{{error}}</h2>
		{% endif %}
		<form action="/login" method="POST">
		<input id="handle" name="handle" tabindex="1" type="text" placeholder="{% label user %}" value="{{handle}}"/>
		<input id="pass" name="pass" tabindex="2" type="password" placeholder="{% label password %}" />
		<span class="submit">
			<input type="submit" tabindex="3" class="btn" value="{% label login %}" />
		</span>
		</form>
		</div>
	</div>
</div>
{% endblock %}
