<table class="mdhelp">
	<tbody>
		<tr>
			<th>{% clabel syntax %}</th>
			<th>{% clabel example %}</th>
		</tr>
		<tr>
			<td>{% label italics-help %}</td>
			<td><b>{% label italics-example %}</b></td>
		</tr>
		<tr>
			<td>{% label bold-help %}</td>
			<td><b>{% label bold-example %}</b></td>
		</tr>
		<tr>
			<td>{% label strikethrough-help %}</td>
			<td><strike>{% label strikethrough-example %}</strike></td>
		</tr>
		<tr>
			<td>{% label link-help %}</td>
			<td><a href="http://http://example.net/">{% label link-example %}</a></td>
		</tr>
		<tr>
			<td>{% label superscript-help %}</td>
			<td>{% label super-example %}<sup>{% label script-example %}</sup></td>
		</tr>
		<tr>
			<td>{% label quote-help %}</td>
			<td>
				<blockquote>{% label quote-example %}</blockquote>
			</td>
		</tr>
		<tr>
			<td>{% label code-help %}</td>
			<td><code>4 spaces indented code</code></td>
		</tr>
	</tbody>
</table>
	